html {
    background-color: #A9B388;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.homepage-text {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-family: Chalkduster;
}
